body
{
	background-color:rgb(32, 141, 184);
}
#main
{
	background-color: rgb(196, 101, 180) ;
	margin:4%;
	padding:5%;
	display: flex;
	justify-content: space-around;
	
}

.card1
{
    background-color:rgb(166, 140, 207) ;	
    position: fixed;
    width:20%;   
    border-radius: 4%;
	text-align: center;	
	box-shadow: 5px 5px 4px 4px black;	
	
}
.card2
{
	background-color:rgb(166, 140, 207) ;
	width:60%;
	float: right;
    border-radius: 4%;
    padding: 1% 3%;

}

p
{
	font-size:15px;
}


@media screen and (max-device-width:480px)
{
	.maindiv{
		display: inline-block;
	  }
	  .card1
	  {
		background:brown;
	    display:flex;
		width: 100%;
		margin: 0;
		position:relative;
	  }
	  .card2{
		margin:2px;  
		background:green;
		width:94%;
		margin-left: 0;
	  }
	  
	  .ch1,
	  .ch2
	  {
		  width:50%;		  
	  }
	  .ch2{
		  padding: 20px;

	  }
	  .ch2>p{
		  flex:2;
		  font-size:30px;
	  }

    
}


@media (min-device-width:481px) and (max-device-width:780px)
{
	.maindiv{
		display: inline-block;
	  }
	  .card1
	  {
		background:rgb(12, 62, 90);
	
		width: 100%;
		margin: 0;
		position:relative;
	  }
	  .card2{
		margin:2px;  
		background:rgb(196, 214, 166);
		width:94%;
		margin-left: 0;
	  }

	  .ch2{
		  display :flex;
	  }
	  .ch2>p
	  {
		  flex:1
	  }

    
}

